<div class="navbar" role="navigation">
    <nav class="menu" aria-label="Main Navigation">
        <a href="{{ .Site.Home.Permalink }}" class="logo">
            {{ partial "svgs/home.svg" (dict "height" 25 "width" 25) . }}
        </a>
        <input type="checkbox" id="menu-trigger" class="menu-trigger" />
        <label for="menu-trigger">
            <span class="menu-icon">
                {{ partial "svgs/menu.svg" (dict "height" 25 "width" 25) . }}
            </span>
        </label>

        <div class="trigger">
            <ul class="trigger-container">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li>
                    <a class="menu-link {{ if or ($currentPage.IsMenuCurrent "main" .)
                        ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}" href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                    {{ if .HasChildren }}
                    <ul>
                        {{ range .Children }}
                        <li>
                            <a class="menu-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">
                                {{ .Name }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </li>
                {{ end }}
                
                <!-- Separador antes do seletor de idiomas -->
                {{ if gt (len .Site.Languages) 1 }}
                <li class="menu-separator">
                    <span>|</span>
                </li>
                
                <!-- Language List -->
                <li>
                    <select id="select-language" onchange="location = this.value;">
                        {{ range .Site.Languages }}
                        <option value="/{{ .Lang }}/" 
                            {{ if eq $.Lang .Lang }}selected{{ end }}>
                            {{ if eq .Lang "pt" }}PT-BR{{ else if eq .Lang "en" }}EN-US{{ else }}{{ .Lang }}{{ end }}
                        </option>
                        {{ end }}
                    </select>
                    <span class="lang-flag">
                        <img src="/images/{{ .Lang }}.svg" width="22" alt="{{ .Lang }} flag">
                    </span>                
                </li>
                {{ end }}
                
                <!-- Separador depois do seletor de idiomas (antes do botão de tema) -->
                {{ if gt (len .Site.Languages) 1 }}
                <li class="menu-separator">
                    <span>|</span>
                </li>
                {{ end }}
            </ul>
            <a id="mode" href="#">
                {{ partial "svgs/sun.svg" (dict "height" 21 "width" 21 "class" "mode-sunny" "title" "LIGHT") . }}
                {{ partial "svgs/sun.svg" (dict "height" 21 "width" 21 "class" "mode-moon" "title" "DARK") . }}
            </a>
        </div>
    </nav>
</div>